<!DOCTYPE html>
<html style="background: #ffffff; margin: 0; padding: 0">
<head>
    <meta charset="utf-8">
    <title>titulo</title>
</head>
<body style="background: #ffffff; margin: 0; padding: 0;min-width: 100%;" bgcolor="#ffffff">
    <style type="text/css">
        body {
            background-color: #ffffff;
            margin: 0;
            padding: 0;
        }
    </style>
    <table class="table teste" border="0" cellspacing="0" cellpadding="0" style="background: #ffffff; padding: 0; width: 100%" bgcolor="#ffffff">
        <tr>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td class="td espacador" style="height: 10px"></td>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr class="tr">
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td>
                <div>
                    <img class="img logotipo" src="http://speedysecurity.com.br/images/logos/iconnectlogo.png" style="display: block; height: 40px; margin: 10px; padding: 0">
                </div>
            </td>
            <td class="borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td class="td espacador" style="height: 10px"></td>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td font-size="0" class="separador" style="background: #096095; height: 1px;font-size:0;" bgcolor="#F5821F"></td>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td class="td espacador" style="height: 10px"></td>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td class="td pai-conteudo">
                <table class="table conteudo" border="0" cellspacing="0" cellpadding="0" style="background: #ffffff; padding: 0; width: 100%" bgcolor="#ffffff">
                    <tr>
                        <td class="td borda-lateral" style="padding: 0; width: 18px"></td>
                        <td class="td"></td>
                    </tr>
                    <tr>
                        <td class="td borda-lateral" style="padding: 0; width: 20px"></td>

                        <td class="td">
                            <h4 style="color: #444444; font-family: 'Trebuchet MS', Helvetica, sans-serif;font-size: 18px;">Olá, {Empresa}</h4>
                            <p class="texto texto-padrao" style="color: #444444; font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 16px; margin-bottom: 20px; margin-top: 20px">
                                {mensagem}
                            </p>
                        </td>
                        <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
                    </tr>
                    <tr>
                        <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
                        <td class="td">

                            <p style="color: #444444; font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 16px; margin-bottom: 20px; margin-top: 20px">Para ver mais informações, <a href="https://portaliconnect.com.br/" target="_blank" style="display: inline-block; font-family:  'Trebuchet MS', Helvetica, Arial, sans-serif; font-size: 16px; text-decoration: none;font-weight:normal;color:#214f97;">acesse o sistema</a></p>
                        </td>
                        <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
                    </tr>
                </table>
            </td>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td class="td espacador" style="height: 10px"></td>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td class="separador" style="background: #096095; height: 2px" bgcolor="#bd9d2e"></td>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td class="td espacador" style="height: 10px"></td>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr class="tr">
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td align="center" style="text-align:center;">
                <img class="img logotipo" src="http://speedysecurity.com.br/images/logos/iconnectlogo.png" style="display: inline-block; height: 40px; margin: 10px auto 0; padding: 0">
            </td>
            <td class="borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td class="td espacador" style="height: 20px"></td>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td>
                <p class="texto texto-destaque texto-padrao small" style="color: #666666; font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 12px; margin-bottom: 0; margin-top: 0; text-align: center" align="center">
                    iConnect - Todos os direitos reservados - 2021
                </p>
            </td>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
        <tr>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
            <td class="td espacador" style="height: 20px"></td>
            <td class="td borda-lateral" style="padding: 0; width: 20px"></td>
        </tr>
    </table>
</body>
</html>