
<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <app-horizontal-buttons></app-horizontal-buttons>
</div> -->
<div class="container" >
  <div class="esquerda">
    <div class="cima">
      <div class="cima-esquerda">
      <app-horizontal-buttons></app-horizontal-buttons>
      </div>
      <div class="cima-direita">
        <app-pesquisa-principal></app-pesquisa-principal>
      </div>

    </div>
    <div class="baixo">
      <div class="esquerda-baixo">
        <app-monitores>
          <app-video-monitors></app-video-monitors>
        </app-monitores>
      </div>
    </div>
  </div>

</div>




<router-outlet></router-outlet>
