<div class="video-container">
  <div class="video-frame">
    <video src="https://edisciplinas.usp.br/pluginfile.php/5196097/mod_resource/content/1/Teste.mp4" controls></video>
  </div>
  <div class="video-frame">
    <video src="https://edisciplinas.usp.br/pluginfile.php/5196097/mod_resource/content/1/Teste.mp4" controls></video>
  </div>
  <div class="video-frame">
    <video src="https://edisciplinas.usp.br/pluginfile.php/5196097/mod_resource/content/1/Teste.mp4" controls></video>
  </div>
  <div class="video-frame">
    <video src="https://cdn.flowplayer.com/a30bd6bc-f98b-47bc-abf5-97633d4faea0/hls/de3f6ca7-2db3-4689-8160-0f574a5996ad/playlist.m3u8" controls></video>
  </div>
</div>

