<p>video-monitors works!!!</p>
<div class="video-container">
  <div class="video-frame">
    <video src="https://edisciplinas.usp.br/pluginfile.php/5196097/mod_resource/content/1/Teste.mp4" controls></video>
  </div>
  <div class="video-frame">
    <video src="https://edisciplinas.usp.br/pluginfile.php/5196097/mod_resource/content/1/Teste.mp4" controls></video>
  </div>
  <div class="video-frame">
    <video src="https://edisciplinas.usp.br/pluginfile.php/5196097/mod_resource/content/1/Teste.mp4" controls></video>
  </div>
  <div class="video-frame">
    <video src="https://edisciplinas.usp.br/pluginfile.php/5196097/mod_resource/content/1/Teste.mp4" controls></video>
  </div>
</div>

